//------------------------------ import scss
@import "./tokens.scss";

//------------------------------ Styles
.icon {
  margin: 0 $space;
  padding: $space;
  border-radius: 50%;
  border: $main-border;
  color: $second-color;
  font-size: $size-icons;
  cursor: pointer;
  transition: 0.2s;

  &--active {
    @extend .icon;
    background-color: $main-color;
    box-shadow: $box-shadow;
  }

  &--inactive {
    @extend .icon;
    background-color: $background-color;
  }

  &--search {
    @extend .icon;
    position: absolute;
    z-index: 1;
    right: 0;
    height: $space4;
    width: $space4;
    margin: 0;
    box-shadow: none;
    background-color: $main-color;
  }

  &--list {
    justify-self: center;
    padding: $space;
    font-size: $size-m;
    color: $second-color;
    border: $main-border;
    border-radius: 50%;
    background-color: $main-color;
    box-shadow: $box-shadow;
    cursor: pointer;
  }
}

//------------------------------ animations
.icon--inactive:hover {
  box-shadow: $box-shadow;
}
