// ------------------------------ import variables
@import './tokens.scss';

// this file has de buttons styles
// ------------------------------ Styles
.button {
	border-radius: $border-radius;
	border: $main-border;
	color: $second-color;
	font-size: $size-xs;
	font-weight: bold;
	cursor: pointer;
}

.main-button {
	@extend .button;
	padding: $space $space3;
	background-color: $main-color;
	box-shadow: $box-shadow;

	&--xxl {
		@extend .main-button;
		margin-left: 100px;
		padding: $space 100px;
		font-size: $size-m;
		align-self: flex-end;
	}
}

.second-button {
	@extend .button;
	padding: $space $space4;
	margin-right: $space2;
	background-color: $background-color;
}

.recipe-button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	margin-left: $space;
	padding: $space 0;
	border-radius: $border-radius;
	border: $main-border;
	color: $second-color;
	background-color: $background-color;
}

.recipe-button > p {
	margin-right: $space;
}

.checkbox {
	width: $space2;
	height: $space2;
	border-radius: 50%;
	background-color: $background-color;
	border: $main-border;
	box-shadow: $box-shadow;
}
