//------------------------------ Import
@import "./tokens.scss";
@import "./typo.scss";
@import "./buttons.scss";
@import "./icons.scss";
@import "./inputs.scss";

//------------------------------ styles restart
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
  color: $second-color;
}

.CardStyles {
  border-radius: $border-radius;
  border: $main-border;
  box-shadow: $box-shadow;
}

a {
  text-decoration: none;
}

@keyframes buttonRecipeCards {
  0% {
    background-color: $background-color;
    transform: translateY(0px);
  }
  100% {
    background-color: tomato;
    transform: translateY(3px);
  }
}
