// this files has the main variables
// ------------------------------ Colors
$main-color: #f0a500;
$main-lighter-color: #ffd649;
$second-color: #263238;
$background-color: #f4f4f4;
$text-color: #000a12;
// -- Borders
$main-border: 2px solid $second-color;
$second-border: 4px solid $main-color;
// -- Shadows
$box-shadow: 0 5px 0 $second-color;
// -- Gradients
$gradien-title: linear-gradient(
	90deg,
	rgba(240, 165, 0, 1) 0%,
	rgba(255, 214, 73, 1) 46%
);

// ------------------------------ Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
$font-family: 'Montserrat', sans-serif;
$size-xs: 18px;
$size-s: 24px;
$size-m: 36px;
$size-l: 48px;
$size-xl: 68px;
$size-xxl: 144px;
$size-icons: 45px;

// ------------------------------ Spacing
$space: 8px;
$space2: 20px;
$space3: 30px;
$space4: 40px;
$border-radius: 10px;
$margin-sections: 40px;
$main-padding: 100px;
