//------------------------------ Import
@import "../global-styles/Globalstyles.scss";

//------------------------------ Styles
.Hero {
  padding: $space4;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.88) 100%
    ),
    linear-gradient(0deg, rgba(240, 165, 0, 0.2), rgba(240, 165, 0, 0.2)),
    url("../images/hero-img.jpeg");
  background-blend-mode: normal, lighten, normal;
  background-size: cover;
  background-position: center;

  &__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    font-size: $size-s;
  }

  //------------------------------ This styles apply to the main hero component
  &__information {
    margin-top: 100px;
  }

  //------------------------------ This styles apply to the search hero component
  &__search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

//------------------------------ Searchbar syles
.Search-bar {
  width: 60%;
  height: $space4;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: $space;

  &__input {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: $space4;
    padding-left: $space4;
    color: $text-color;
    font-size: $size-xs;
    border: $main-border;
    border-radius: $space4;
  }
}
