// ------------------------------ Import global styles specially varibles
@import '../global-styles/Globalstyles.scss';

// ------------------------------ Styles
// this file has the modal styles.
.Modal-container {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: rgba($color: #000000, $alpha: 0.3);
}

.Modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;

	&__img {
		width: 200px;
		margin-bottom: $space2;
	}

	&__form {
		position: relative;
		width: 500px;
		text-align: center;
		padding: $space4;
		border-radius: $border-radius;
		background-color: $main-lighter-color;
	}

	&__exit {
		position: absolute;
		right: 0;
		top: -120px;
		margin: 0;
	}

	&__title {
		margin-bottom: $space4;
		margin-top: $space2;
	}
}
