// ------------------------------ Import global styles specially varibles
@import '../global-styles/Globalstyles.scss';

// this file has the recipe styles.
// ------------------------------ Recipe instruction item styles
.InstructionItem {
	display: flex;

	&__label {
		position: relative;
		display: flex;
		padding-left: $space4;
		margin-bottom: $space2;

		&::before {
			content: '';
			@extend .checkbox;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			transition: 0.2s;
		}
	}

	&__step {
		color: $main-color;
		font-size: $size-m;
		font-weight: bold;
	}

	&__description {
		transform: translateY(40%);
		margin-left: $space;
		transition: 0.2s;
	}
}

// ------------------------------ Recipe instruction checkbox Animations
[type='checkbox'] {
	display: none;
}

[type='checkbox']:checked + .InstructionItem__label::before {
	background-color: $second-color;
	border: 2px solid $main-color;
	box-shadow: none;
}

[type='checkbox']:checked
	+ .InstructionItem__label
	> .InstructionItem__description {
	text-decoration: line-through;
}

// ------------------------------ Recipe metadata component Styles
.Metadata {
	display: flex;
	justify-content: flex-end;

	&__item {
		display: flex;
		margin-left: $space4;
		padding-left: $space2;
		border-left: $main-border;

		&:first-child {
			border-left: none;
		}

		p {
			text-align: end;
			font-weight: bold;
			margin-left: $space2;
		}
	}
}

// ------------------------------ Recipe ingredient list container
.Recipe-ingredients {
	margin: $margin-sections 0;
	&__container-list {
		@extend .CardStyles;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding: $space4 0;
		background-color: $background-color;
	}
}

// ------------------------------ Recipe ingredient item style
.RecipeIngredientItem {
	display: flex;
	align-items: center;
	margin: 0 $space2;

	&__label {
		position: relative;
		display: flex;
		align-items: center;
		padding-left: $space4;

		&::before {
			content: '';
			@extend .checkbox;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			transition: 0.2s;
		}

		&::after {
			position: absolute;
			content: '';
			right: 0;
			top: 50%;
			height: 2px;
			width: calc(100% - 30px);
			transform: translateY(-50%);
			background-color: $second-color;
			opacity: 0;
			transition: 0.2s;
		}
	}

	&__cant {
		color: $main-color;
		font-size: $size-m;
		font-weight: bold;
	}

	&__name {
		margin-left: $space;
	}
}

// ------------------------------ Recipe ingredient checkbox animation
[type='checkbox'] {
	display: none;
}

[type='checkbox']:checked + .RecipeIngredientItem__label::before {
	background-color: $second-color;
	border: 2px solid $main-color;
	box-shadow: none;
}

[type='checkbox']:checked + .RecipeIngredientItem__label::after {
	opacity: 1;
}
