//------------------------------ import scss
@import "../../global-styles/Globalstyles.scss";

//------------------------------ Styles
.CartHead {
  display: grid;
  grid-template-columns: 5% 75% repeat(3, 1fr);
  padding: $space;
  font-weight: bold;
  border-radius: $border-radius;
  background-color: $background-color;
}
p:nth-child(n + 2) {
  text-align: center;
}
.CartHead p:first-child {
  grid-column: 2 / span 1;
}
