//------------------------------ import scss
@import "../../global-styles/Globalstyles.scss";

//------------------------------ Styles
.Metadata {
  display: flex;
  justify-content: flex-end;

  &__item {
    display: flex;
    margin-left: $space4;
    padding-left: $space2;
    border-left: $main-border;

    &:first-child {
      border-left: none;
    }

    p {
      text-align: end;
      font-weight: bold;
      margin-left: $space2;
    }
  }
}
