/*en construcción*/
.Principal-container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
}
.Triangle{
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin: auto;
    border-right: 50vw solid transparent;
    /* border-left: 150px solid transparent; */
    border-top: 100vh solid #FFBC42;
    z-index: 1;
    position: absolute;
}
.Card-container{
    /* align-self: center;
    margin-left: 20%;
    overflow: scroll;
    display: inline-block;  */  
}
.tarjetas {
    position: absolute;
    top: 30%;
    left: 90%;
    width: 190px;
    height:210px;
    margin: 0;
    -webkit-perspective: 800px;
            perspective: 800px;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .tarjetas__contenido {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: translateZ(-182px) rotateY(0);
            transform: translateZ(-182px) rotateY(0);
    -webkit-animation: carrusel 20s infinite cubic-bezier(1, 0.015, 0.295, 1.225) forwards;
            animation: carrusel 20s infinite cubic-bezier(1, 0.015, 0.295, 1.225) forwards;
  }
   
  .tarjetas__elemento {
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;
    height: 210px;
    /* border-radius: 6px; */
  }

  .tarjetas__elemento:nth-child(1) {
    -webkit-transform: rotateY(0) translateZ(182px);
            transform: rotateY(0) translateZ(182px);
  }
  .tarjetas__elemento:nth-child(2) {
    -webkit-transform: rotateY(120deg) translateZ(182px);
            transform: rotateY(120deg) translateZ(182px);
  }
  .tarjetas__elemento:nth-child(3) {
    -webkit-transform: rotateY(240deg) translateZ(182px);
            transform: rotateY(240deg) translateZ(182px);
  }
   
  @-webkit-keyframes carrusel {
    0%,  17.5% {
      -webkit-transform: translateZ(-182px) rotateY(0);
              transform: translateZ(-182px) rotateY(0);
    }
    27.5%, 45% {
      -webkit-transform: translateZ(-182px) rotateY(-120deg);
              transform: translateZ(-182px) rotateY(-120deg);
    }
    55%, 72.5% {
      -webkit-transform: translateZ(-182px) rotateY(-240deg);
              transform: translateZ(-182px) rotateY(-240deg);
    }
    82.5%, 100% {
      -webkit-transform: translateZ(-182px) rotateY(-360deg);
              transform: translateZ(-182px) rotateY(-360deg);
    }
  }
   
  @keyframes carrusel {
    0%,  17.5% {
      -webkit-transform: translateZ(-182px) rotateY(0);
              transform: translateZ(-182px) rotateY(0);
    }
    27.5%, 45% {
      -webkit-transform: translateZ(-182px) rotateY(-120deg);
              transform: translateZ(-182px) rotateY(-120deg);
    }
    55%, 72.5% {
      -webkit-transform: translateZ(-182px) rotateY(-240deg);
              transform: translateZ(-182px) rotateY(-240deg);
    }
    82.5%, 100% {
      -webkit-transform: translateZ(-182px) rotateY(-360deg);
              transform: translateZ(-182px) rotateY(-360deg);
    }
  }