.Card-container{
    width: 805px;
    position: relative;
}
.CardImage-food{
    width: 800px;
    height: 543px;
	overflow: hidden;
	cursor: pointer;
	background: #000;
    margin-top:30px;
    border-radius: 20px;
}
.CardImage-food img{
    opacity: 1;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.CardImage-food:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    opacity: .66;
}
.Card-information{ 
    position: absolute;
    width: 600px;
    height: 200px;
    padding: 30px;
	bottom: -50px;
	opacity: 0;
	-webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.Card-information h1{
    margin: 0;
	color: #ffbc42;
	font-size: 3em;
}
.Card-information p{
    margin: 0;
	color: #ffbc42;
	font-size: 2em;
}
.CardImage-food:hover .Card-information{
    opacity: 1;
	bottom: 10px;
}
