.Card-container{
    width: 805px;
    position: relative;
}
.CardImage-food{
    width: 800px;
    height: 543px;
	overflow: hidden;
	cursor: pointer;
	background: #000;
    margin-top:30px;
    border-radius: 20px;
}
.CardImage-food img{
    opacity: 1;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.CardImage-food:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    opacity: .66;
}
.Card-information{ 
    position: absolute;
    width: 600px;
    height: 200px;
    padding: 30px;
	bottom: -50px;
	opacity: 0;
	-webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.Card-information h1{
    margin: 0;
	color: #ffbc42;
	font-size: 3em;
}
.Card-information p{
    margin: 0;
	color: #ffbc42;
	font-size: 2em;
}
.CardImage-food:hover .Card-information{
    opacity: 1;
	bottom: 10px;
}
/*Style for heart-like*/
/* body{
    display: flex;
    height: 100vh;
    margin: 0px;
    align-items: center;
    justify-content: center;
} */
.like{
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-image: url(https://bit.ly/31RxDv3); 
    background-size: 1450px 50px;   
}
.like.is-liked{
    animation-name: like;
    animation-duration: .8s;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}
@keyframes like{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: right;
    }
}
