.gardenContainer {
  background-color: #8f2d56;
  display: grid;
  grid-template-rows: 15% 42% 42%;
  justify-content: center;
  height: 78em;
  position: relative;
  margin-top: 300px;
}

.gardenContainer__head {
  color: #ffbc42;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 30px;
}
.gardenContainer__head--title {
  font-size: 50px;
}
