.CardSquare {
    padding: 0;
    border: 0;
    width: 350px;
    background-color: #8F2D56;
    color:#FFBC42;
    border-radius: 20px;
    outline: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .CardSquare:hover {
    cursor: pointer;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
    transform: scale(1.01);
  }
.CardSquare__text{
    text-align: left;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    overflow: auto;
}

.CardSquare__text h1{
  font-size: 20px;
  margin-bottom: 15px;
}
.CardSquare__time{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    width: inherit;
}

.CardSquare__time--text{
    padding-left: 10px;
    margin-right: 30px;
}
.CardSquare__image{
  height: 245px;
  width: 100%;
  object-fit: cover;
}