.cardsimple {
  background-color: #FFBC42;
  color: #8f2d56;
  width: 752px;
  height: 306px;
  border-radius: 20px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 66% 33%;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
}

.cardsimple__image {
  grid-row: 1 / 2;
  width: inherit;
}

.cardsimple__info {
  grid-row: 2 / 3;
  display: flex;
  width: inherit; /*propiedad para '...'*/
}

.cardsimple__info--title {
  width: calc( 100% - 90px );
  font-size: 36px;
  margin: 28px 45px;
  white-space: nowrap; /*propiedad para '...'*/
  overflow: hidden; /*propiedad para '...'*/
  text-overflow: ellipsis; /*propiedad para '...'*/
}
