.cardsimple {
  background-color: #FFBC42;
  color: #8f2d56;
  width: 752px;
  height: 306px;
  border-radius: 20px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 70% 30%;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
}


.cardsimple__info {
  grid-row: 1 / 3;
}

.cardsimple__info--title {
  font-size: 36px;
}

.cardsimple__image {
  grid-row: 1 / 2;
}