.cardleft {
  width: 620px;
  height: 300px;
  margin: 10px 0px;
  background-color: #FFBC42;
  border-radius: 20px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 17% 65% 18%;
}

.cardleft:hover {  
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
  transform: scale(1.01);
}

.cardleft__info{
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  text-align: start;
  height: 85%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: #FFBC42;
}

.cardleft__info--title {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
}

.cardleft__info--text {
  margin-top: 22px;
  overflow: auto;
  max-height: 100%;
}

.cardleft__time {
  grid-row: 3 / 4;
  display: flex;
  justify-content: flex-end;
  grid-column: 2 / 3;
  align-items: center;
  padding: 0px 25px;
  z-index: 2;
  background-color: #FFBC42;
  height: 100%;
}

.cardleft__time--text {
  font-size: 13px;
  padding: 0px 9px;
}

.cardleft__image{
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  width: 310px;
  height: 300px;
  object-fit: cover;
}
