.Search-icon{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}
.Search-icon button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit; 
    top: 18px; 
    align-self: center;
    width: 35px;
    height: 35px;
}
.Search-icon button:hover{
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.search-input{
    position: relative;
    background-color: #8f2d56;
    width: 30vw;
    height: 40px;
    border-radius: 20px;
    margin-left: 5px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.search-input img{
    position: relative;
    height: 30px;
    padding-right: 5%;
    cursor: pointer;
}
.search-input img:hover{
    height: 35px;  
}
.search-input input{
    background-color: #8f2d56;
    width: 22vw;
    height: 35px;
    margin-left: 5%;
    border-radius: 20px;
    border: 0;
    outline: none;
}
.search-input input:focus{
    font-size: 14px;
    color: #ffbc42;
}
.search-input input::placeholder{
    font-size: 14px;
    color: #ffbc42;
    padding-left: 2%;
    opacity: .7;
}