.PaymentPageCard {
  display: flex;
  flex-direction: column;
  padding: 90px 50px 200px 80px;
  height: 400px;
  border-radius: 20px;
  background-color: #218380;
  margin-bottom: 60px;
  justify-content: space-between;
}

.PaymentPageCard__title{
  font-size: 35px;
}

.PaymentPageCard__DetailAmount{
  display: flex;
  justify-content: space-between;
  margin-right: 8em;
}

.PaymentPageCard__DetailAmount--RecipeName {
  font-size: 30px;
  color: #8f2d56;
  background-color: #ffbc42;
  border-radius: 25px;
  padding: 20px;
}
.PaymentPageCard__DetailAmount--Amount{
  font-size: 35px;
}

.PaymentPageCard__Username,.PaymentPageCard__Address {
  font-size: 20px;
  width: 20%;
}
