//------------------------------ import scss
@import "../../global-styles/tokens.scss";

//------------------------------ Styles
.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space2 $space4;
  background-color: $second-color;

  &__brand {
    width: 150px;
  }
}
