//------------------------------ import scss
@import "../../global-styles/tokens.scss";
@import "../../global-styles/typo.scss";

//------------------------------ Styles
.Ingredient-carrousel {
  &__title {
    margin-bottom: $space2;
  }
  &__cards {
    display: flex;
    justify-content: space-between;
  }
}
