//------------------------------ Import
@import "../../global-styles/Globalstyles.scss";

//------------------------------ styles
.Recipe-ingredients {
  margin: $margin-sections 0;
  &__container-list {
    @extend .CardStyles;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-height: 300px;
    padding-top: $space2;
    background-color: $background-color;
  }
}
