//------------------------------ Import
@import "../../global-styles/Globalstyles.scss";

//------------------------------ styles
.Recipe-carrousel {
  &__title {
    margin-bottom: $space2;
  }
  &__cards-container {
    height: 450px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: $space;
  }
}

.main-card {
  grid-row: 1 / span 2;
}
