//------------------------------ Import
@import "../../global-styles/Globalstyles.scss";

//------------------------------ styles
.Recipe-carrousel {
  margin: $margin-sections 0;
  &__cards-container {
    height: 450px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: $space;
  }
}

.main-card {
  grid-row: 1 / span 2;
}
